# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).

# See docs/Config_Reference.md for a description of parameters.

# Motor1
# B side left
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 16
full_steps_per_rotation:200
rotation_distance: 40
endstop_pin: ^EBBCan:PB6
position_endstop: 350
position_max: 350
homing_speed: 50

# Motor2
# A side right
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
full_steps_per_rotation:200
rotation_distance: 40
endstop_pin: ^PF3
position_endstop: 350
position_max: 350
homing_speed: 50

# Motor3
# Z0 front left
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
# position_endstop: 2
position_max: 310
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
##--------------------------------------------------------------------
position_min: -10.0
homing_speed: 8
second_homing_speed: 3
#homing_retract_dist: 3

#[safe_z_home]
#home_xy_position: 175, 175
#   A X, Y coordinate (e.g. 100, 100) where the Z homing should be
#   performed. This parameter must be provided.
#speed: 50.0
#   Speed at which the toolhead is moved to the safe Z home
#   coordinate. The default is 50 mm/s
#z_hop: 10
#   Distance (in mm) to lift the Z axis prior to homing. This is
#   applied to any homing command, even if it doesn't home the Z axis.
#   If the Z axis is already homed and the current Z position is less
#   than z_hop, then this will lift the head to a height of z_hop. If
#   the Z axis is not already homed the head is lifted by z_hop.
#   The default is to not implement Z hop.
#z_hop_speed: 30
#   Speed (in mm/s) at which the Z axis is lifted prior to homing. The
#   default is 15 mm/s.
#move_to_previous: False
#   When set to True, the X and Y axes are reset to their previous
#   positions after Z axis homing. The default is False.

## Motor4
# rear left
# The M8P only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accesory such as an MMU
#[stepper_z1]
#step_pin: PB4
#dir_pin: PB3
#enable_pin: !PB6
#microsteps: 16
#rotation_distance: 40
#endstop_pin: probe:z_virtual_endstop
#...

# Motor5
# rear left
[stepper_z1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16

## End-Stop 5
#[filament_switch_sensor material_0]
#switch_pin: PF0

## Motor6
# front right
[stepper_z3]
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16

## End-Stop 6
#[filament_switch_sensor material_1]
#switch_pin: PC15

## Motor7
#rear right
[stepper_z2]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16

#heater_pin: PA3 # HE2
#sensor_pin: PC4 # T2
#...

## Motor8
#[extruder3]
#step_pin: PC7
#dir_pin: PC8
#enable_pin: !PD2
#heater_pin: PA5 # HE3
[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PA7 # TH3
#...

[heater_bed]
heater_pin: PA1
sensor_pin: PB1 # TB 
sensor_type: Generic 3950
pwm_cycle_time: 0.01666  #60hz  0.02088  47.9Hz
control: pid
pid_Kp=65.627
pid_Ki=3.708
pid_Kd=290.399
min_temp: 0
max_temp: 130

#[fan_generic soc-fan]
#pin: host:gpio26  #CM4

## Chamber Lighting - HE2 Connector (Optional)
[output_pin caselight]
pin: PA3

#Fan CB1
#[fan_generic CB1]
[temperature_fan CB1_fan]
sensor_type: temperature_mcu
pin: CB1:gpio79
#cycle_time: 0.01
max_temp: 85.0                #Set below 85C, Pi3+ MCU can be damaged at 85C
target_temp: 40.0             #Set this to your preferred running temperature
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: 1.0
min_speed: 0.0
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0
# Fan0 
# nevermore 
[fan_generic nevermore]
pin: PF7
cycle_time: 0.01
#hardware_pwn: false
#heater: heater_bed

## Fan1
## skirt fan back
[controller_fan skirtfan1]
pin: PF9
fan_speed: .75
idle_timeout: 60
idle_speed: .5
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3

## Fan2
## skirt fan front
[controller_fan skirtfan2]
pin: PF6
fan_speed: .75
idle_timeout: 60
idle_speed: .5
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3


## Fan3
# Bed fan
[fan_generic underbed]
#[heater_fan fan3]
pin: PF8
cycle_time: 0.01

## Fan4
#[heater_fan fan4]
#pin: PA4

## Fan5
#[heater_fan fan5]
#pin: PA6
#tachometer_pin: PC2

## Fan6
#[heater_fan fan6]
#pin: PA2
#tachometer_pin: PC1

[mcu]
# serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_UUID: 17cc236533fe

[printer]
kinematics: corexy
max_velocity: 450
max_accel: 22500
max_z_velocity: 20
max_z_accel: 350
square_corner_velocity: 5.0

########################################
# TMC2209 configuration
########################################

## Motor1
[tmc2209 stepper_x]
uart_pin: PC13
## diag_pin: PF4 
run_current: 0.800
stealthchop_threshold: 0

## Motor2
[tmc2209 stepper_y]
uart_pin: PE3
## diag_pin: PF3
run_current: 0.800
stealthchop_threshold: 0

## Motor3
[tmc2209 stepper_z]
uart_pin: PB9
##diag_pin: PF2
run_current: 0.650
stealthchop_threshold: 0

## Motor4
# [tmc2209 stepper_z1]
# uart_pin: PB5
##diag_pin: PF1
# run_current: 0.650
# stealthchop_threshold: 999999

## Motor5
[tmc2209 stepper_z1]
uart_pin: PG14
run_current: 0.650
stealthchop_threshold: 0

## Motor6
[tmc2209 stepper_z3]
uart_pin: PG10
run_current: 0.650
stealthchop_threshold: 0

## Motor7
[tmc2209 stepper_z2]
uart_pin: PD5
run_current: 0.650
stealthchop_threshold: 0

## Motor8
#[tmc2209 extruder3]
#uart_pin: PC6
#run_current: 0.800
#stealthchop_threshold: 999999

########################################
# TMC2130 configuration
########################################

## Motor1
#[tmc2130 stepper_x]
#cs_pin: PC13
#spi_software_mosi_pin: PG6
#spi_software_miso_pin: PG7
#spi_software_sclk_pin: PG8
##diag1_pin: PF4
#run_current: 0.800
#stealthchop_threshold: 999999

## Motor2
#[tmc2130 stepper_y]
#cs_pin: PE3
#spi_software_mosi_pin: PG6
#spi_software_miso_pin: PG7
#spi_software_sclk_pin: PG8
##diag1_pin: PF3
#run_current: 0.800
#stealthchop_threshold: 999999

## Motor3
#[tmc2130 stepper_z]
#cs_pin: PB9
#spi_software_mosi_pin: PG6
#spi_software_miso_pin: PG7
#spi_software_sclk_pin: PG8
##diag1_pin: PF2
#run_current: 0.650
#stealthchop_threshold: 999999

## Motor4
#[tmc2130 stepper_]
#cs_pin: PB5
#spi_software_mosi_pin: PG6
#spi_software_miso_pin: PG7
#spi_software_sclk_pin: PG8
##diag1_pin: PF1
#run_current: 0.800
#stealthchop_threshold: 999999

## Motor5
#[tmc2130 extruder]
#cs_pin: PG14
#spi_software_mosi_pin: PG6
#spi_software_miso_pin: PG7
#spi_software_sclk_pin: PG8
#run_current: 0.800
#stealthchop_threshold: 999999

## Motor6
#[tmc2130 extruder1]
#cs_pin: PG10
#spi_software_mosi_pin: PG6
#spi_software_miso_pin: PG7
#spi_software_sclk_pin: PG8
#run_current: 0.800
#stealthchop_threshold: 999999

## Motor7
#[tmc2130 extruder2]
#cs_pin: PD5
#spi_software_mosi_pin: PG6
#spi_software_miso_pin: PG7
#spi_software_sclk_pin: PG8
#run_current: 0.800
#stealthchop_threshold: 999999

## Motor8
#[tmc2130 extruder3]
#cs_pin: PC6
#spi_software_mosi_pin: PG6
#spi_software_miso_pin: PG7
#spi_software_sclk_pin: PG8
#run_current: 0.800
#stealthchop_threshold: 999999

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[adxl345]
#cs_pin: PA15
#spi_bus: spi3a

#[bltouch]
#sensor_pin: PD13
#control_pin: PD12

## Proximity switch
#[probe]
#pin: PD8

#[output_pin ps_on_pin]
#pin: PD14

#[neopixel my_neopixel_1]
#pin: PD15

#[hall_filament_width_sensor]
#adc1: PC0
#adc2: PF10
